<!DOCTYPE html>
<html lang="en">

<head>
    <title>Business Intelligence</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <style>
        p{padding-top: 40px;
            align-items: center;
            text-align: center;
            font-weight: 600;
            font-size: 20px;
        }
        h1{
            text-align: center;
        }
        p{
            text-align: center;
        }
        h2{
            text-align: center;
        }
    </style>
</head>

<body>
    <header>
        <h1>Business Intelligence</h1>
    </header>

    <nav>
        <a href="/">Home</a>
        <a href="funding.html">Funding Opportunities</a>
        <a href="businessanalysis.html">Business Analysis</a>
        <a href="education.html">Educational Strategies</a>
        <a href="form.html">Investment Calculator</a>
        <a href="#contact">Contact Us</a>
    </nav><br/>

    <h1>Welcome to Business Intelligence</h1>
    <!-- <div class="summary-container">
        <h1>Empower Your Business with Our All-in-One Platform!</h1>
        <p>Gain tailored advice, marketing insights, and growth strategies backed by AI. Access financial guidance, social media content generation, income statement analysis, online courses, an investment calculator, and a capital funding portal. Elevate your decision-making and fuel your company's growth with our comprehensive solution.</p>
    </div> -->
   
    <div style="text-align: center;">
        <img src="{{ url_for('static', filename='images/Business-intelligence.png') }}" height="400" width="400" alt="BI" style="display: inline-block">
    </div>



    <p>Empower your business with our all-in-one platform! Gain tailored advice, marketing insights, and growth strategies backed by AI. <br> Access financial guidance, social media content generation, income statement analysis, online courses, an investment calculator, and a capital funding portal.<br> Elevate your decision-making and fuel your company's growth with our comprehensive solution</p>

    <!-- <footer>
        <p>&copy; 2023 @Business Intelligence</p>
    </footer> -->

 
</body>

</html>
